<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true" />

  <include file="$(find racecar_gazebo)/launch/racecar.launch">
    <arg name="world_name" value="racecar_maze1"/>
    <arg name="racecar_name" value="racecar_test"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
